@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*-- Body Reset --*/
body {
  font-family: 'Playfair Display', serif;
}

/*============= TOP BAR HEADER =============*/

.top-bar {
  background-color: #5db64b;

  height: 3.2rem;
  padding: 0.5rem 0;
  align-items: center;
}

i.social-top {
  font-size: 2rem;
  justify-content: center !important;
  align-items: center !important;
}

.top-bar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}

#facebook {
  text-decoration: none;
  border-color: #5db64b;
  color: #fff;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}

.navbar-brand:hover {
  transform: scale(1.1);
  transition-duration: 0.6s;
}

.navbar {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: rgba(47, 47, 47, 0.9587185215883228) !important ;
}

.nav-link.active,
.nav-link:hover {
  color: #5db64b !important;
}

span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  max-height: 38rem;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.carousel-caption h1 {
  font-size: 2rem;
}

.border-primary {
  border-top: 0.2rem solid #5db64b !important ;
}

.carousel-caption h3 {
  font-size: 2rem;
}

.btn-lg {
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-width: medium;
  background-color: #5db64b;
  border-color: #5db64b;
  color: white;
}

.btn-lg:hover {
  background-image: url('/img/uk_flag.png');
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
  color: black;
  text-decoration: none;
  font-weight: 900;
  transform: scale(1.1);
}

.pic,
.mp4 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.container1 {
  border-radius: 20px;
  box-shadow: 0rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.pic:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.mp4:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.event {
  margin-top: 0;
  /* color: #008a28; */
  color: #5db64b;
  text-align: center;
}

.card-header {
  background-color: #5db64b;
  color: whitesmoke;
}

.events {
  /* border: #008a28 solid 1px; */
  border: #5db64b solid 1px;
  margin-top: 20px;
  padding: 10;
  width: auto;
}

.cards {
  width: auto;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 20%;
  padding-bottom: 0px;
  margin: 0;
}

.cards:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.card {
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
}

.h3 {
  font-weight: 500;
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
}

.china_img {
  object-position: 50% 20%;
  object-fit: contain;
}

.p_card {
  font-size: large;

  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  /* background-color: #5db64b; */
}

.partners {
  border-radius: 10px;
}

.members {
  font-weight: 500;
}

.logos {
  cursor: pointer;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

.fixed {
  background-image: url('../img/london.jpg');
  position: fixed;
}

.fixed-background {
  padding: 10rem 0;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/*============= FOOTER =============*/

.britcham_footer {
  background: #5db64b !important;
}

#bbam-logo-big {
  height: fit-content !important;
  width: auto !important;
  height: 200px !important;
  object-fit: cover;
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 10px;
}

.text_bccm {
  font-size: 3rem;
  color: #fff;
}

#telephone {
  text-decoration: none;
  color: #fff;
}

#fax {
  text-decoration: none;
  color: #fff;
}

#email {
  text-decoration: none;
  color: #fff;
}

.inside_footer {
  border-radius: 10px;
}

.about-us {
  text-decoration: none !important;
  color: #43474b !important;
}

.footer-text {
  /* text-decoration: none!important; */
  color: #43474b !important;
}

h6 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #43474b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bi {
  font-size: 2rem;
}

.ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

#facebook,
#linkedin,
#youtube {
  text-decoration: none;
}

#copyright {
  cursor: pointer;
  text-decoration: none !important;
}

i.social-footer {
  font-size: 3rem !important;
}

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}

/* About.html */

.about-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}
/* End About.html */

/* Membership.html */
.card1 {
  background-image: url('../img/card1.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.card2 {
  background-image: url('../img/card2.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.card3 {
  background-image: url('../img/card3.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.card4 {
  background-image: url('../img/card4.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.card5 {
  background-image: url('../img/card5.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.card6 {
  background-image: url('../img/card6.jpg');
  object-fit: cover;
  background-size: cover;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

/* End Membership.html */

/* Committees */
.committees_text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#managementCommittee {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.commitees-card-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* End Committees */

/* CSR */

.list-group {
  border: none;
  text-decoration: none;
}

/* End CSR */

/* Form for membership */
.card_form {
  height: auto;
  width: 200px;
}

/* End Form for membership */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
